<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Add price</title>
<script>
    // 自动填入当前时间
    function setCurrentTime() {
    const currentTime = new Date();
    currentTime.setHours(currentTime.getHours() - 4); // 將時間減去 4 小時
    const formattedTime = currentTime.toISOString().slice(0, 19).replace('T', ' ');
    document.getElementById("currentTime").value = formattedTime;
}// 1. `toISOString()` 将当前时间转换为 ISO 8601 格式（例: "2023-10-28T12:34:56.789Z"）
    window.onload = setCurrentTime;// 当页面加载完成时，调用 `setCurrentTime` 函数，这样用户看到页面时时间已经填入
    </script>
</head>
<body>
<p>參與競標</p>
{% if error %}
<hr />
<p>出價低於或等於最高出價或基本價格，請再試一次。</p>
<form method="post" action="/biditems">
<input name="user_id" type="hidden" value="{{ session['loginID'] }}" />
<input name="item_id" type="hidden" value="{{ request.args.get('item_id') }}" />
競標金額: <input name="price" type="text"  value="" /> <br>
上架時間: <input name="time" type="text" id="currentTime" readonly /> <br>
</form>
{% else %}
<hr />
<form method="post" action="/biditems">
<input name="user_id" type="hidden" value="{{ session['loginID'] }}" />
<input name="item_id" type="hidden" value="{{ request.args.get('item_id') }}" />
競標金額: <input name="price" type="text"  value="" /> <br>
上架時間: <input name="time" type="text" id="currentTime" readonly /> <br>
{% endif %}
<input type="submit">
</form>
<a href="/auctionitems">回到商品清單</a>
</body>
</html>









