<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My Items</title>
  <style>
    .logout-button /*這是登出按鈕的類名*/{
      text-decoration: none;/* 去掉鏈接的下劃線 */
      float: right;/* 將按鈕向右浮動 */
      font-size: 15px; /* 字體大小 */
      padding: 10px 20px; /* 內邊距 */
      background-color: #4CAF50; /* 背景顏色 */
      color: white; /* 字體顏色 */
      border-radius: 5px; /* 邊角圓滑 */
      border: none; /* 去掉邊框 */
    }

    .logout-button:hover {
      background-color: #45a049; /* 停時背景顏色變為稍深的綠色 */
    }
  </style>
</head>
<body>
  <h1>您販售的商品</h1>

  <!-- 登出按鈕 -->
  <a href="/logout" class="logout-button">登出</a>
  <hr>
  <table width="100%" border="1">
    <tr>
      <th>商品 ID</th>
      <th>商品名稱</th>
      <th>產品說明</th>
      <th>底價</th>
      <th>目前最高價</th>
      <th>賣家ID</th>
      <th>上架時間</th>
      <th>刪除商品</th>
      <th>編輯商品內容</th>
    </tr>
    <!-- 如果有商品，顯示它們 -->
    {% for rec in items %}
    <tr>
      <td>{{ rec.id }}</td>
      <td>{{ rec.name }}</td>
      <td>{{ rec.description }}</td>
      <td>{{ rec.base_price }}</td>
      <td>{{ rec.current_highest_price }}</td>
      <td>{{ rec.user_id }}</td>
      <td>{{ rec.created_at }}</td>
      <td>
        <a href="/delete/{{ rec.id }}" style="text-decoration: none;">刪除</a>  <!-- 使用 item ID -->
      </td>
      <td>
        <a href="/edititem?item_id={{ rec.id }}" style="text-decoration: none;">編輯</a>
      </td>
    </tr>
    {% else %}
    <!-- 如果沒有商品，顯示提示信息 -->
    <tr>
      <td colspan="8">No items found</td>
    </tr>
    {% endfor %}
  </table>
  <a href="/auctionitems">全部商品清單</a>
  <a href="/additems.html">新增商品</a>
</body>
</html>





